<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Viromark - Serienliste</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/indexstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/js/search-redirect.js"></script>



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index"><strong>viromark</strong></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <div style="float:left">
                <ul class="nav navbar-nav">
                    <li><a href="allseries">Alle Serien</a></li>
                    <li><a href="watched">Meine Serienliste</a></li>
                    <li><a href="./">Mein Profil</a></li>
          
                </ul>
            </div>
            <div style="float:right">
                <form class="navbar-form navbar-left" id="searchbar" role="search" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="termInput" placeholder="Suchen">
                    </div>
                    <button type="submit" class="btn btn-default searchbutton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/img/indexslider_howimetyourmother.jpg');"></div>
                <div class="carousel-caption">
                    <h2><a href="./allseries/4">How i met your mother</a></h2>
                    <a href="./allseries/4" class="btn btn-default" role="button">Mehr Infos</a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/img/indexslider_onceuponatime.jpg');"></div>
                <div class="carousel-caption">
                    <h2><a href="./allseries/1">Once upon a time</a></h2>
                    <a href="./allseries/1" class="btn btn-default" role="button">Mehr Infos</a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/img/indexslider_bettercallsaul.jpg');"></div>
                <div class="carousel-caption">
                    <h2><a href="./allseries/3">Better call Saul</a></h2>
                    <a href="./allseries/3" class="btn btn-default" role="button">Mehr Infos</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Hallo <%= userdata.name %>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Was ist Viromark?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Viromark ist ein innovatives neues Tool um dich beim Serienschauen zu unterstützen.
Es hilft dir dabei, den Überblick zu behalten. Um Viromark direkt zu verwenden, einfach über die Suche oder über den Reiter "Alle Serien" deine Lieblingsserien markieren, eingeben wie weit du die Serie geschaut hast, und los geht's! Viromark hilft dir, nie wieder eine Sendung versehentlich zu überspringen oder doppelt zu sehen. Mit Viromark weißt du immer genau wo du dran bist!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Die beliebtesten Serien</h4>
                    </div>
                    <div class="panel-body">
                            <ol>
                        <%  
                            if(typeof(allSeriesData.series) !== 'undefined') {
                                for(var i = 0; i < popularityData.length && i < 5; i++) {
                                    for(var e = 0; e < allSeriesData.series.length; e++) {
                                        if(typeof(allSeriesData.series[e].id) !== 'undefined') {
                                        if(popularityData[i].seriesid == allSeriesData.series[e].id) {
                        %>
                                            <li class="listInPanel"><a href="./allseries/<%=allSeriesData.series[e].id%>"><%= allSeriesData.series[e].name %></a></li>
                                        
                        <%
                                        }  
                                        }
                                    }
                                
                                }
                            } else {
                        %>
                                Keine beliebten Serien.
                        <%        
                            }
                        %>
                            </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Angeschaute Serien der letzten 7 Tage</h4>
                </div>
                <div class="panel-body">
                        <% 
                        var limit = 0;
                            for(var i = 0; i < allSeriesData.series.length; i++) {
                                for(var e=0; e<schaueGeradeData.length; e++) {
                                    if(allSeriesData.series[i].id == schaueGeradeData[e].seriesid) {
                                        if(limit < 5) {
                                            ++limit;
                                            var stampToday = Math.floor(Date.now());
                                            var days = (stampToday - schaueGeradeData[e].timeStamp) / 86400000;
                                            var hours = (stampToday - schaueGeradeData[e].timeStamp) / 3600000;
                                            var minutes = (stampToday - schaueGeradeData[e].timeStamp) / 600000;
                    

                                            if (days > 0 && days < 1) {
                        %>      
                                                <p><a href="./allseries/<%=allSeriesData.series[i].id%>"><%=allSeriesData.series[i].name %></a> (vor <%= parseInt(hours) %> Stunden)</p>
                        <%
                                            } else {
   
                        %>
                                                <p><a href="./allseries/<%=allSeriesData.series[i].id%>"><%=allSeriesData.series[i].name %></a> (vor <%= parseInt(days) %> Tagen)</p>
                        <%
                                            }
                                        }
                                    }
                        %>

                        <%
                                }
                            }
                            if(schaueGeradeData.length == 0) {
                         %>
                                <p>Es wurden bisher noch keine Serien geschaut.</p>
                         <%       
                            }
                        %>
                </div>
            </div>
        </div>
    </div>
        <!-- /.row -->

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Status-Statistik aller User insgesamt</h4>
                </div>
                <div class="panel-body">
                       
                        <canvas id="statusStatisikArea"></canvas>
                        <form method="post" name="statusCountData">
                            <input type=hidden id="geradeData" value="<%= statusCounts.schaueGerade %>">
                            <input type=hidden id="werdeData" value="<%= statusCounts.werdeSchauen %>">
                            <input type=hidden id="abgeschlossenData" value="<%= statusCounts.abgeschlossen %>">
                            <input type=hidden id="abgebrochenData" value="<%= statusCounts.abgebrochen %>">
                        </form>
                   
                </div>
            </div>
        </div>



        

        

    </div>
    <!-- /.container -->
    <!-- Chart.js reinladen -->
    <script src="/bower_components/Chartjs/Chart.js"></script>
    <script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    // Status Counter Daten
    var geradeData = document.getElementById("geradeData").value;
    var werdeData = document.getElementById("werdeData").value;
    var abgeschlossenData = document.getElementById("abgeschlossenData").value;
    var abgebrochenData = document.getElementById("abgebrochenData").value;

    var statusCountData = {
        labels : ["Schaue ich gerade","Werde ich schauen","Abgeschlossen","Abgebrochen"],
        datasets : [
            {
                fillColor : "#4ccdc4",
                strokeColor : "rgba(220,220,220,0.8)",
                highlightFill: "#8cebe4",
                highlightStroke: "rgba(220,220,220,1)",
                data : [geradeData, werdeData, abgeschlossenData, abgebrochenData]
            }
        ]

    }
    window.onload = function(){
        var ctx = document.getElementById("statusStatisikArea").getContext("2d");
        window.myBar = new Chart(ctx).Bar(statusCountData, {
            responsive : true
        });
    }

    </script>
    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
