<html>
	<head>
	<meta charset="utf-8" /> 

		<title>Single-Series</title>
			<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
			   <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap-Theme -->
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript">
		$(function() {
			var frm = $('#addToWatch');
			var pathname = window.location.pathname; 

			
			frm.on('submit', function(ev){
				//var frmdata = {"name":"test"};
				var maxSeasons = +($( 'p.maxSeasons:visible' ).text());
				var selectedEpisodes = +($('#episode').val());
				var currentStatus = $('#status').val();
				var selectedSeason = $('#season').val();

				if(selectedSeason == "Staffelauswahl" && currentStatus == "Watching") {
					$( 'p.noSeasonAlert' ).show();
					ev.preventDefault();
				} else {
				
						if(selectedEpisodes > maxSeasons || isNaN(selectedEpisodes) || selectedEpisodes == "0" && currentStatus == "Watching") {
							$( 'p.noSeasonAlert' ).hide();
							$( 'p.maxSeasonsAlert' ).fadeOut();
							$( 'p.maxSeasonsAlert' ).fadeIn();
							ev.preventDefault();
						} else {

							var frmdata = { "seriesid": $('#seriesID').val(),
											"status": $('#status').val(),
											"season": $('#season').val(),
											"episode": $('#episode').val(),

							};
							$.ajax({
							type: 'POST',
							url: '/postwatchedseries'+pathname,
							data: frmdata,
							//contentType: 'application/json',
							success: function(frmdata) {
					
							},
							error: function(xhr, options, e) {
    							console.log(e);
							}
							}).done(function(){
								alert(data.name+' wurde hinzugefuegt.');
							}).fail(function(e){
				
								alert(data.name+' konnte nicht hinzugefuegt werden. ('+JSON.stringify(e)+')');
							});
							$(function () {
								$('#basicModal').modal('hide')
							});
						}
				}
			ev.preventDefault();
			});
			
		});
		</script>
	
	
	</head>
	<body>

		 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>viromark</strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="../allseries">Alle Serien</a></li>
            <li><a href="../watched">Meine Serienliste</a></li>
            <li><a href="../">Mein Profil</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

		<h1><%= seriesdata.name %></h1>
		<div>
		
			<div class="seriesbox">
				<div class="seriesimage"><img width="148" height="208" src="/cover/<%=seriesdata.id%>">
				</div>
				<div class="description">
					<strong>Genre:</strong> <%= seriesdata.genre %><br />
					<strong>Beschreibung:</strong> <%= seriesdata.description %><br />
					<strong>Staffeln: </strong><%= seasonsdata.seasons.length %><br /><br />
					<strong>Bewertung: </strong>
					<% if (typeof(seriesdata.bewertung) !== 'undefined') { %>
  						<span><%= seriesdata.bewertung %></span>
					<% } else { %>
						<span>Noch keine Bewertung</span>
					<% } %>
				 	<br /><br />

	       		    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#basicModal">Hinzufügen</a>
   	

        			 <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
   					   <div class="modal-dialog">
   					     <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Zu meiner Liste hinzufügen</h4>
          </div>
          <div class="modal-body">
           <form id="addToWatch" action="/" method="post">
           	<input type="hidden" name="Language" id="seriesID" value="<%= seriesdata.id %>">

           		Status: 
           			<select class="form-control" id="status">
 						 <option value="Watching">Schaue ich gerade</option>
						 <option value="Werde ich schauen">Werde ich schauen</option>
						 <option value="Abgeschlossen">Abgeschlossen</option>
  				 		 <option value="Abgebrochen">Abgebrochen</option>
					</select>
				<br /><br />
				<script>
					$("#status").on("change", function() {
					//	if( (this).val() == "notWatching" ) {
					//		$( '#watchingSeasonOptions' ).hide();
					//	}
						var toHideContent;
   						id = $(this).val() + "_content";
   						if($(this).val() == "Watching") {
   							toHideContent = $("#notWatching_content");
   							$("#Watching_content").show();
   						} else {
   							toHideContent = $("#Watching_content");
   							$("#notWatching_content").show();
   						}
   						//$("#" + id).show();
   						toHideContent.hide();
					})
				</script>
				<div id="notWatching_content"></div>
				<div id="Watching_content">
					Staffel: 
						<select class="form-control" id="season" name="season">
							<option value="Staffelauswahl">Bitte wähle deine Staffel aus</option>
							<%
							for(var i=0; i < seasonsdata.seasons.length; i++) { 
							%>
							<option value="<%= seasonsdata.seasons[i].id %>"><%= seasonsdata.seasons[i].id %></option>
							<%
							}
							%>
						</select>
					<br /><br />
					Episode:
						<div class="row">				
  							<div class="col-xs-2">
   								<input type="text" class="form-control" id="episode" placeholder="0"> 
 							</div>
 							<div class="col-xs-2">
   				 		/ 
   					  			<script>
									$("#season").on("change", function() {
   										id = "related_" + $(this).val() + "_content";
   									 	$("#" + id).show().siblings().hide()
									})
								</script>
   					
								<% 
								for(var i=0; i < seasonsdata.seasons.length; i++) {
								%>
									<p id="related_<%= seasonsdata.seasons[i].id %>_content" class="maxSeasons" style="display:none;">
								    <%=seasonsdata.seasons[i].episodes%>
									</p>
								<% } %>
 							</div>
						</div>
           			<p class="maxSeasonsAlert" style="display:none;">Bitte gib eine korrekte Episodenzahl ein.</p>
           			<p class="noSeasonAlert" style="display:none;">Bitte wähle eine Staffel aus.</p>
          		</div>
          	</div>
          	<div class="modal-footer">
          	<input type="submit" class="btn btn-primary" id="addTo" value="Speichern">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </form>
            
          </div>
        </div>
      </div>
       <!-- Modal Ende -->
    </div>


					</div></div>

		</div>

    <script src="/dist/js/bootstrap.min.js"></script>
	</body>
</html>