<html>
	<head>
	<meta charset="utf-8" /> 

		<title>Single-Series</title>
			<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1><%= name %></h1>
		<div>
		
					<div class="seriesbox">
					<div class="seriesimage"><img width="148" height="208" src="/cover/<%=id%>">
					</div>
					<div class="description">
					<strong>Genre:</strong> <%= genre %><br />
					<strong>Beschreibung:</strong> <%= description %><br /><br />
					<strong>Bewertung: </strong><%= bewertung %><br /><br />


					</div></div>

		</div>


	</body>
</html>