<html>
	<head>
	<meta charset="utf-8" /> 

		<title>User</title>
			<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		
		    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap-Theme -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Tortendiagramm zeichnen -->
    <% if(typeof(seriesdata.watched) !== 'undefined') {
    %>	
    <script>
        window.onload = function() {

              var musikData = document.getElementById("musikdata").value;
              var dramaData = document.getElementById("dramadata").value;
              var actionData = document.getElementById("actiondata").value;
              var fantasyData = document.getElementById("fantasydata").value;
              var comedyData = document.getElementById("comedydata").value;
              var anwaltData = document.getElementById("anwaltdata").value;
              var romanceData = document.getElementById("romancedata").value;

            var PieChart = {
 
                drawPieChart: function (slices, id) {
 
                    var percentElements = slices.percentages;
                    var colorElements = slices.colors;
 
                    var canvas = document.getElementById(id);
                    var context = canvas.getContext("2d");
 
                    var centerX = canvas.width / 2;
                    var centerY = canvas.height / 2;
                    var radius = 80;
 
                    context.beginPath();
                    var endAngle = 2 * Math.PI
 
                    var lastAngle = 0;
 
                    for (var i = 0; i < percentElements.length; i++) {
                        var percent = percentElements[i];
                        var color = colorElements[i];
 
                        var currentSegment = endAngle * (percent / 100);
                        var currentAngle = currentSegment + lastAngle;
 
                        context.beginPath();
                        context.moveTo(centerX, centerY)
                        context.arc(centerX, centerY, radius, lastAngle, currentAngle, false);
                        context.closePath();
 
                        lastAngle = lastAngle + currentSegment;
 
                        context.fillStyle = color;
                        context.fill();
 
                        if (this.segmentMode) {
                            context.lineWidth = 2;
                            context.strokeStyle = 'white';
 
                        }else {
                            context.lineWidth = 1;
                            context.strokeStyle = 'black';
 
                        }
                        context.stroke();
                        context.fill();
                    }
                    if (this.segmentMode) {
 
                        context.beginPath();
                        context.fillStyle = 'white';
                        context.arc(centerX, centerY, radius - 20, 0, 2 * Math.PI, false);
                        context.fill();
                    }
                }
            }
 
            var slices = {
                "percentages": [musikData,dramaData,fantasyData,romanceData,comedyData,anwaltData,actionData],
                "colors": ['#4ccdc4', '#2e8e87', '#c6f866', '#fd6a69', '#c44b56', '#8c9cab', '#54626f'],
                "elements": ['Musik: '+parseInt(musikData)+' %', 'Drama: '+parseInt(dramaData)+' %', 'Fantasy: '+parseInt(fantasyData)+' %', 'Romantik: '+parseInt(romanceData)+' %', 'Komödie: '+parseInt(comedyData)+' %', 'Anwaltserie: '+parseInt(anwaltData)+' %', 'Action: '+parseInt(actionData)+' %']
            }
 
            var piechart  = Object.create(PieChart);
            piechart.segmentMode = true;
            piechart.drawPieChart(slices, 'piechart1');
 
            var legend = document.getElementById('legend');
 
            for (var i = 0; i < slices.percentages.length; i++) {
 
                var tr = document.createElement('tr');
                tr.className = "legendenZeile";
 
                legend.appendChild(tr);
  
                var c = slices.colors[i];
                var p = slices.elements[i];
                
 
                var td1 = document.createElement('td');
                var td2 = document.createElement('td');
 
                tr.appendChild(td1);
                tr.appendChild(td2);
 
                td1.style.background = slices.colors[i];
                td1.style.width = '40px';
                td2.innerHTML = slices.elements[i];
                td2.className = "legendenSpalteSchrift";
               
            }
        }
    </script>
    <%
    	}
    %>
	</head>
	<body>

			 <!-- Fixierte Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index"><strong>viromark</strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="allseries">Alle Serien</a></li>
            <li><a href="watched">Meine Serienliste</a></li>
            <li class="active"><a href="./">Mein Profil</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

		<h1>Userprofil</h1>
		<div>
					<div class="seriesbox">
					<div class="description"> 
            <%
            if (typeof(userdata.name) !== 'undefined') {
            %>
            <div class="userinfo">
                <h3>Wer bin ich?</h3>
				<strong> User: </strong> <%= userdata.name %>
            </div>
            <%
              if (typeof(seriesdata.watched) !== 'undefined') {

            %>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Welche Genres gucke ich am meisten?</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id='piechart1' width='200px' height='200px'></canvas>
                            <table id='legend'></table>
                            <form method="post" name="piechartdata">
                                <input type=hidden id="musikdata" value="<%= genrestatistik.Musik %>">
                                <input type=hidden id="dramadata" value="<%= genrestatistik.Drama %>">
                                <input type=hidden id="actiondata" value="<%= genrestatistik.Action %>">
                                <input type=hidden id="fantasydata" value="<%= genrestatistik.Fantasy %>">
                                <input type=hidden id="comedydata" value="<%= genrestatistik.Comedy %>">
                                <input type=hidden id="anwaltdata" value="<%= genrestatistik.Anwaltserie %>">
                                <input type=hidden id="romancedata" value="<%= genrestatistik.Romance %>">
                            </form>
                    	</div>
                    </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                   <h3 class="panel-title">Serienstatistik</h3>
                  </div>
                  <div class="panel-body">
                    qwer
                  </div>
                </div>
              </div>
            </div>
            <%    
             	} else {
            %>
            		<p>Du hast noch keine Serie in deine Liste hinzugefügt.</p>
            <%
	            }
            %>
            


            <%
          } else {
          %>
          <p> ERROR: Der User existiert nicht, oder es wurde kein Name angegeben. </p>
          <%
          }
          %>
					</div></div>

			
		</div>


	</body>
</html>