<html>
<head>
	<meta charset="utf-8" /> 
	<title>User</title>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap-Theme -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/js/search-redirect.js"></script>
        <script src="/js/legend.js"></script>
</head>
<body>

			 <!-- Fixierte Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index"><strong>viromark</strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div style="float:left;">
                <ul class="nav navbar-nav">
                    <li><a href="allseries">Alle Serien</a></li>
                    <li><a href="watched">Meine Serienliste</a></li>
                    <li class="active"><a href="./">Mein Profil</a></li>
          
                </ul>
            </div>
            <div style="float:right;">
                <form class="navbar-form navbar-left" id="searchbar" role="search" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="termInput" placeholder="Suchen">
                    </div>
                    <button type="submit" class="btn btn-default searchbutton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

		<h1>Userprofil</h1>
		<div>
					<div class="seriesbox">
					<div class="description"> 
            <%
            if (typeof(userdata.name) !== 'undefined') {
            %>
            <div class="userinfo">
                <h3>Wer bin ich?</h3>
				<strong> User: </strong> <%= userdata.name %>
            </div>
            <%
              if (typeof(seriesdata.watched) !== 'undefined') {

            %>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Meine Genres</h3>
                        </div>
                        <div class="panel-body">
                            <div style="width:200px; height:200px;">
                                <em>In Prozent (%)</em>
                                <canvas id="genreStatistikArea" width="200px" height="200px"></canvas>
                                <div id="doughnutLegend"></div>
                                <form method="post" name="piechartdata">
                                    <input type=hidden id="musikdata" value="<%= genrestatistik.Musik %>">
                                    <input type=hidden id="dramadata" value="<%= genrestatistik.Drama %>">
                                    <input type=hidden id="actiondata" value="<%= genrestatistik.Action %>">
                                    <input type=hidden id="fantasydata" value="<%= genrestatistik.Fantasy %>">
                                    <input type=hidden id="comedydata" value="<%= genrestatistik.Comedy %>">
                                    <input type=hidden id="anwaltdata" value="<%= genrestatistik.Anwaltserie %>">
                                    <input type=hidden id="romancedata" value="<%= genrestatistik.Romance %>">
                                </form>
                            </div>   
                    	</div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Meine Status-Statistik</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="width:200px; height:200px;">
                                        <em>In Prozent (%)</em>
                                        <canvas id="statusStatistikProzentArea" width="200px" height="200px"></canvas>
                                        <div id="doughnutLegendStatusProzent"></div>
                                        <form method="post" name="statusProzentData">
                                            <input type=hidden id="geradeProzentData" value="<%= statusStatistik['Schaue ich gerade'] %>">
                                            <input type=hidden id="werdeProzentData" value="<%= statusStatistik['Werde ich schauen'] %>">
                                            <input type=hidden id="abgeschlossenProzentData" value="<%= statusStatistik['Abgeschlossen'] %>">
                                            <input type=hidden id="abgebrochenProzentData" value="<%= statusStatistik['Abgebrochen'] %>">
                                        </form>
                                    </div>   
                                </div>
                                <div class="col-md-6">
                                    <div style="width:200px;">
                                        <em>Anzahl</em>
                                        <canvas id="statusStatistikCountArea" height="200" width="200"></canvas>
                                        <div class="legend">
                                        <span>Schaue ich gerade: <%= statusCountStatistik['Schaue ich gerade'] %></span><br />
                                        <span>Abgeschlossen: <%= statusCountStatistik['Abgeschlossen'] %></span><br />
                                        <span>Werde ich schauen: <%= statusCountStatistik['Werde ich schauen'] %></span><br />
                                        <span>Abgebrochen: <%= statusCountStatistik['Abgebrochen'] %></span><br />
                                        </div>
                                    </div>
                                    
                                    <form method="post" name="statusCountData">
                                        <input type=hidden id="geradeData" value="<%= statusCountStatistik['Schaue ich gerade'] %>">
                                        <input type=hidden id="werdeData" value="<%= statusCountStatistik['Werde ich schauen'] %>">
                                        <input type=hidden id="abgeschlossenData" value="<%= statusCountStatistik['Abgeschlossen'] %>">
                                        <input type=hidden id="abgebrochenData" value="<%= statusCountStatistik['Abgebrochen'] %>">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <%    
             	} else {
            %>
            		<p>Du hast noch keine Serie in deine Liste hinzugefügt.</p>
            <%
	            }
            %>
            


            <%
          } else {
          %>
          <p> ERROR: Der User existiert nicht, oder es wurde kein Name angegeben. </p>
          <%
          }
          %>
		</div>
    </div>

			
</div>
<!-- Chart.js reinladen -->
    <script src="/bower_components/Chartjs/Chart.js"></script>
<script>
    // Genre-Statistik Daten
    var musikData = document.getElementById("musikdata").value;
    var dramaData = document.getElementById("dramadata").value;
    var actionData = document.getElementById("actiondata").value;
    var fantasyData = document.getElementById("fantasydata").value;
    var comedyData = document.getElementById("comedydata").value;
    var anwaltData = document.getElementById("anwaltdata").value;
    var romanceData = document.getElementById("romancedata").value;
    // Donut Chart
    var doughnutData = [
                {
                    value: parseInt(musikData),
                    color:"#4ccdc4",
                    highlight: "#8cebe4",
                    label: "Musik"
                },
                {
                    value: parseInt(dramaData),
                    color: "#2e8e87",
                    highlight: "#45a8a1",
                    label: "Drama"
                },
                {
                    value: parseInt(actionData),
                    color: "#8c9cab",
                    highlight: "#abb8c5",
                    label: "Action"
                },
                {
                    value: parseInt(fantasyData),
                    color: "#c6f866",
                    highlight: "#dbfa9f",
                    label: "Fantasy"
                },
                {
                    value: parseInt(comedyData),
                    color: "#c44b56",
                    highlight: "#d77a83",
                    label: "Komödie"
                },
                {
                    value: parseInt(anwaltData),
                    color: "#54626f",
                    highlight: "#6f7b86",
                    label: "Anwaltserie"
                },
                {
                    value: parseInt(romanceData),
                    color: "#fd6a69",
                    highlight: "#fe9291",
                    label: "Romantik"
                }

            ];

    // Status-Statistik Prozent Daten
    var geradeProzentData = document.getElementById("geradeProzentData").value;
    var werdeProzentData = document.getElementById("werdeProzentData").value;
    var abgeschlossenProzentData = document.getElementById("abgeschlossenProzentData").value;
    var abgebrochenProzentData = document.getElementById("abgebrochenProzentData").value;
    // Status Prozente Chart
    var statusProzData = [
                {
                    value: parseInt(geradeProzentData),
                    color:"#4ccdc4",
                    highlight: "#8cebe4",
                    label: "Schaue ich gerade"
                },
                {
                    value: parseInt(werdeProzentData),
                    color: "#2e8e87",
                    highlight: "#45a8a1",
                    label: "Werde ich schauen"
                },
                {
                    value: parseInt(abgeschlossenProzentData),
                    color: "#8c9cab",
                    highlight: "#abb8c5",
                    label: "Abgeschlossen"
                },
                {
                    value: parseInt(abgebrochenProzentData),
                    color: "#c6f866",
                    highlight: "#dbfa9f",
                    label: "Abgebrochen"
                },    
            ]; 

    // Status Counter Daten
    var geradeData = document.getElementById("geradeData").value;
    var werdeData = document.getElementById("werdeData").value;
    var abgeschlossenData = document.getElementById("abgeschlossenData").value;
    var abgebrochenData = document.getElementById("abgebrochenData").value;
    // Status Counter Chart
    var statusCountData = {
        labels : ["Schaue ich gerade","Abgeschlossen","Werde ich schauen","Abgebrochen"],
        datasets : [
            {
                fillColor : "#4ccdc4",
                strokeColor : "rgba(220,220,220,0.8)",
                highlightFill: "#8cebe4",
                highlightStroke: "rgba(220,220,220,1)",
                data : [geradeData, werdeData, abgeschlossenData, abgebrochenData]
            }
        ]

    }

             window.onload = function(){
             }

    

    window.onload = function(){
        var ctx_donut = document.getElementById("genreStatistikArea").getContext("2d");
        window.myDoughnut = new Chart(ctx_donut).Doughnut(doughnutData, {responsive : true});
        legend(document.getElementById("doughnutLegend"), doughnutData, myDoughnut);

        var ctx_statusProzent = document.getElementById("statusStatistikProzentArea").getContext("2d");
        window.myStatusProzentDoughnut = new Chart(ctx_statusProzent).Doughnut(statusProzData, {responsive : true});
        legend(document.getElementById("doughnutLegendStatusProzent"), statusProzData, myStatusProzentDoughnut);

        var ctx_statusCount = document.getElementById("statusStatistikCountArea").getContext("2d");
        window.myStatusCount = new Chart(ctx_statusCount).Bar(statusCountData, {
            responsive : true
        });
    }

    </script>
</body>
</html>