<html>
	<head>
		<meta charset="utf-8" /> 

		<title>Alle Serien</title>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    	<!-- Bootstrap-Theme -->
    	<link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">

		<script src="/dist/js/jquery-1.11.3.min.js"></script>

		<script>
			$(function() {
					var frm = $('#addEpisode');
					var pathname = window.location.pathname; 

					frm.on('submit', function(ev){
						var maxEpisodes = $('#maxEpisodes').val();
						var currentSeason = $('#currentSeason').val();
						var currentEpisode = $('#currentEpisode').val();
						var currentSeriesId = $('#seriesID').val();
						var currentStatus = $('#currentStatus').val();
						var maxSeasons = $('#maxseasons').val();

						var newEpisode = parseInt(currentEpisode) + 1;

						if(newEpisode > maxEpisodes) {
							newEpisode = 1;
							if(currentSeason >= maxSeasons) {
								currentStatus = "Abgeschlossen";
							}
							currentSeason = parseInt(currentSeason) + 1;
						}
						var frmdataWatching = { 
							"watchedid": $('#watchedId').val(),
							"episode": newEpisode,
							"status": currentStatus,
							"season": currentSeason,
						};
						$.ajax({
							type: 'PUT',
							url: '/putwatchinglist'+pathname,
							data: frmdataWatching,
							//contentType: 'application/json',
							success: function(frmdata) {
					
							},
							error: function(xhr, options, e) {
    						console.log(e);
							}
						}).done(function(){
							alert(data.name+' wurde hinzugefuegt.');
						}).fail(function(e){
							alert(data.name+' konnte nicht hinzugefuegt werden. ('+JSON.stringify(e)+')');
						});
						$(function () {
						});
						ev.preventDefault();
					});
					ev.preventDefault();	
			});
		</script>
	</head>
	<body>
	 <!-- Fixierte Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index"><strong>viromark</strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="allseries">Alle Serien</a></li>
            <li class="active"><a href="#">Meine Serienliste</a></li>
            <li><a href="./">Mein Profil</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- Erstmal prüfen, ob der User überhaupt eine Serie in der Watched-Liste hat -->
	<%	
		if(typeof(seriesdata.watched) !== 'undefined') {
	%>
			<h2>Schaue ich gerade</h2>
			<div class="seriesbox">
				<table class="table table-striped">
					<tr>
							<td><strong>Titel</strong></td>
							<td><strong>Meine Bewertung</strong></td>
							<td><strong>Gesamtbewertung</strong></td>
							<td><strong>Aktuelle Staffel</strong></td>
							<td><strong>Prozess</strong></td>
					</tr>
				<%
					for(var i=0; i < seriesdata.watched.length; i++) {
						if(seriesdata.watched[i].status == "Schaue ich gerade" || seriesdata.watched[i].status == "Watching"){
						%>
							<tr>
								<td>
									<a href="allseries/<%= seriesdata.replies[i].id %>"><%= seriesdata.replies[i].name %></a>
								</td>
								<td>
									<%
										if(typeof(seriesdata.watched[i].bewertung) !== 'undefined') {
									%>
											<%= seriesdata.watched[i].bewertung %>
									<%	
										} else {
									%>
											<span>
												<a href="allseries/<%= seriesdata.replies[i].id %>">Jetzt bewerten</a>
											</span>
									<%		
										}
									%>
									</td>
								<td>
									<%
										if(typeof(seriesdata.watched[i].bewertung) !== 'undefined') {
									%>
											<%= seriesdata.replies[i].bewertung %>
									<%	
										} else {
									%>
											<span>
												Noch nicht bewertet
											</span>
									<%		
										}
									%>
								</td>
								<td>
									<%
										var maxStaffeln=0;
										for(var e=0; e < seasondata.seasons.length; e++) {
											if(seasondata.seasons[e].seriesid == seriesdata.watched[i].seriesid) {
											maxStaffeln++;
											}
										}
									%>
									<%= seriesdata.watched[i].season %> / <%= maxStaffeln %></td>
								<td><%= seriesdata.watched[i].episode %> / 
								<!-- Jetzt suchen wir mal nach der richtigen Staffelinformation -->
								<%
									var maxSeasons=0;
									for(var n=0; n < seasondata.seasons.length; n++) {
										if(seasondata.seasons[n].seriesid == seriesdata.watched[i].seriesid) {
											maxSeasons++;
										}
										if(seasondata.seasons[n].seriesid == seriesdata.watched[i].seriesid && seasondata.seasons[n].id == seriesdata.watched[i].season) {
								%>
											<span> <%= seasondata.seasons[n].episodes %></span> 
											<form id="addEpisode" action="/" method="post">
											<input type="hidden" id="watchedId" value="<%= seriesdata.watched[i].id %>">
											<input type="hidden" id="currentEpisode" value="<%= seriesdata.watched[i].episode %>">
											<input type="hidden" id="maxEpisodes" value="<%= seasondata.seasons[n].episodes %>">
											<input type="hidden" id="currentSeason" value="<%= seriesdata.watched[i].season %>">
											<input type="hidden" id="seriesID" value="<%= seriesdata.watched[i].seriesid %>">
											<input type="hidden" id="currentStatus" value="<%= seriesdata.watched[i].status %>">
											<input type="hidden" id="maxseasons" value="<%= maxSeasons %>">
											<input type="submit" class="btn btn-primary" id="addTo" value="+">
											</form>
								<%
										}
									}
								%>

								</td>
							</tr>
						<%
						}
					}
				%>
				</table>
			</div>
		<!-- Abgeschlossene Serien -->
			<h2>Abgeschlossene Serien</h2>
			<div class="seriesbox">
				<table class="table table-striped">
					<tr>
						<td><strong>Titel</strong></td>
						<td><strong>Meine Bewertung</strong></td>
						<td><strong>Gesamtbewertung</strong></td>
						<td><strong>Staffeln insgesamt</strong></td>
					</tr>
				<%
					var esGibtAbgeschlossene = false;
					for(var i=0; i < seriesdata.watched.length; i++) {
						if(seriesdata.watched[i].status == "Abgeschlossen") {
							esGibtAbgeschlossene = true;
				%>
							<tr>
								<td>
									<a href="allseries/<%= seriesdata.replies[i].id %>"><%= seriesdata.replies[i].	name %></a>
								</td>
								<td>
								<%
									if(typeof(seriesdata.watched[i].bewertung) !== 'undefined') {
								%>
										<%= seriesdata.watched[i].bewertung %>
								<%	
									} else {
								%>
										<span>
											<a href="allseries/<%= seriesdata.replies[i].id %>">Jetzt bewerten</a>
										</span>
								<%		
									}
								%>
								</td>
								<td>
								<%
									if(typeof(seriesdata.watched[i].bewertung) !== 'undefined') {
								%>
										<%= seriesdata.replies[i].bewertung %>
								<%	
									} else {
								%>
										<span>
											Noch nicht bewertet
										</span>
								<%		
									}
								%>
								</td>
								<td>
									<!-- Jetzt suchen wir mal nach der richtigen Staffelinformation -->
									<%
										var seasonCounter=0;
										for(var n=0; n < seasondata.seasons.length; n++) {
											if(seasondata.seasons[n].seriesid == seriesdata.watched[i].seriesid) {
												seasonCounter++;
											}
										}
									%>
									<span> <%= seasonCounter %></span>
									</td>
							</tr>
				<%			
						}
					}
				%>
				</table> 
				<%
						if(esGibtAbgeschlossene == false) {
				%>	
						<p>Du hast noch keine Serie abgeschlossen.</p>
				<%			
					}
				%>
			</div>
		<!-- Werde ich schauen -->
			<h2>Werde ich schauen</h2>
			<div class="seriesbox">
				<table class="table table-striped">
					<tr>
						<td><strong>Titel</strong></td>
						<td><strong>Genre</strong></td>
						<td><strong>Beschreibung</strong></td>
						<td><strong>Gesamtbewertung</strong></td>
					</tr>
				<%
					var esGibtWerdeIchSchauen = false;
					for(var i=0; i < seriesdata.watched.length; i++) {
						if(seriesdata.watched[i].status == "Werde ich schauen") {
							esGibtWerdeIchSchauen = true;
				%>
							<tr>
								<td>
									<a href="allseries/<%= seriesdata.replies[i].id %>"><%= seriesdata.replies[i].	name %></a>
								</td>
								<td>
										<%= seriesdata.replies[i].genre %>
								</td>
								<td>
										<%= seriesdata.replies[i].description %>
								</td>
								<td>
								<%
									if(typeof(seriesdata.watched[i].bewertung) !== 'undefined') {
								%>
										<%= seriesdata.replies[i].bewertung %>
								<%	
									} else {
								%>
										<span>
											Noch nicht bewertet
										</span>
								<%		
									}
								%>
								</td>
								
							</tr>
				<%			
						}
					}
				%>
				</table>
				<%
					if(esGibtWerdeIchSchauen == false) {
				%>	
						<p>Es gibt keine Serie, die du noch schauen möchtest.</p>
				<%			
					}
				%> 
			</div>
		<!-- Abgebrochen -->
			<h2>Abgebrochen</h2>
			<div class="seriesbox">
				<table class="table table-striped">
					<tr>
						<td><strong>Titel</strong></td>
						<td><strong>Genre</strong></td>
						<td><strong>Beschreibung</strong></td>
						<td><strong>Gesamtbewertung</strong></td>
					</tr>
				<%
					var esGibtAbgebrochene = false;
					for(var i=0; i < seriesdata.watched.length; i++) {
						if(seriesdata.watched[i].status == "Abgebrochen") {
							esGibtAbgebrochene = true;
				%>
							<tr>
								<td>
									<a href="allseries/<%= seriesdata.replies[i].id %>"><%= seriesdata.replies[i].	name %></a>
								</td>
								<td>
										<%= seriesdata.replies[i].genre %>
								</td>
								<td>
										<%= seriesdata.replies[i].description %>
								</td>
								<td>
								<%
									if(typeof(seriesdata.watched[i].bewertung) !== 'undefined') {
								%>
										<%= seriesdata.replies[i].bewertung %>
								<%	
									} else {
								%>
										<span>
											Noch nicht bewertet
										</span>
								<%		
									}
								%>
								</td>
								
							</tr>
				<%			
						}
					}
				%>
				</table>
				<%
				if(esGibtAbgebrochene == false) {
				%>	
						<p>Du hast keine Serie abgebrochen.</p>
				<%			
					}
				%>
			</div>
		<!-- Folgendes wird angezeigt, wenn der User keine Serie in der Watched-Liste drin hat -->
		<%
			} else {
		%>
				<div class="seriesbox">	
					<div class="description">
						<p>Sie haben noch keine Serie in ihrer persönlichen Liste. <br /><br />
						<a href="allseries">Stöbern</a> Sie doch mal in unseren angelegten Serien.</p>
					</div>
				</div>
		<%		
			}
		%>
	</body>
</html>